@import './var.scss';

.panels {
    // @include flexCenter();
    display: flex;
    width: 100vw;
    height: $height;
    overflow: hidden;


    .panel {
        @include flexCenter();
        flex-direction: column;
        // width: 100%;
        color: red;
        height: 100vh;
        flex: 1;
        font-size: 15px;
        text-align: center;
        transition:
            font-size 0.7s cubic-bezier(0.1, -0.8, 0.6, -0.1),
            flex 0.7s cubic-bezier(0.6, -0.2, 0.7, -0.1);
        background-size: cover;
        background-position: center;

        &>* {
            @include flexCenter();
            flex: 1;
            flex-shrink: 0;
            flex-basis: auto;
            margin: 0;
        }

        &>*:first-child {
            transform: translateY(-100%);
        }

        &>*:last-child {
            transform: translateY(100%);
        }

        &>p {
            text-transform: uppercase;
            font-family: arial;
            text-shadow: 0 0 8px #ddd;
            font-size: 1em;
        }

        p:nth-child(2) {
            font-size: 1.3em;
        }

    }

    .panel1 {
        background-image: url(../img/flex/img1.jpg)
    }

    .panel2 {
        background-image: url(../img/flex/img2.jpg);
    }

    .panel3 {
        background-image: url(../img/flex/img3.jpg);
    }
}

.panel.open-active>*:first-child {
    transform: translateY(0);
}

.panel.open-active>*:last-child {
    transform: translateY(0);
}

.open {
    font-size: 1.8em;
    flex: 2;
}

// @media (orientation:portrait) and (min-width:600px) {

//     .panel p:nth-child(2) {
//         font-size: 2.5em;
//     }

//     .open {
//         font-size: 2.7em;
//         flex: 2;
//     }
// }

// @media (orientation:landscape) and (min-width:992px) {

//     .panel p:nth-child(2) {
//         font-size: 3em;
//     }

//     .open {
//         font-size: 2.2em;
//         flex: 2;
//     }

// }