@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext');

@import "./clock";
@import "./flex";
@import './timer';

@import './var';


body {
    background-color: color(secondary);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/gen/imga.JPG);
    background-size: cover;
    box-shadow:
        inset 0px 10px 40px #000,
        inset -10px 0px 40px #000;


    .header-content {
        z-index: 2;


        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 50vh;
        }

        .title {
            position: relative;
            width: 300px;
            top: 70vh;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 10px 0;
            font-size: 2.4rem;
            font-weight: 800;
            color: color(primary);
            border-radius: 30px;
            background: color(secondary);

            @include porTablets {
                font-size: 4rem;
                width: 400px;
            }

            @include landTablets {
                top: 75vh;
            }
        }
    }
}

.btns {
    position: absolute;
    top: 100vh;
    // right: 0;
    width: 100vw;
    overflow: hidden;
    background: color(primary-dark);
    z-index: 2;

    .container {
        @include flexCenter();

        .burger {
            position: absolute;
            top: 0;
            right: 10px;
        }

        .btn {
            @include flexCenter();
            flex: 1;
            color: #ddd;
            border-right: 0.5px solid color(secondary);

            @include landTablets {
                border-width: 2px;
            }
        }

        .btn:last-child {
            border: none;
        }

        div>p {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;

            @include landTablets {
                font-size: 2.5rem;
            }
        }

        div:hover {
            cursor: pointer;
        }
    }
}




.show {
    display: block !important;
}

#btn-1-project,
#btn-2-project,
#btn-3-project {
    display: none;
}

.btn-project-item {
    height: $height;
    margin: 20px 0;
}

footer {
    p {
        color: #ddd;
        letter-spacing: 1px;
        background: color(primary-dark);
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;

        @include landTablets {
            font-size: 2.2rem;
        }
    }
}


body::-webkit-scrollbar {
    width: 0px;
}

;