@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext');

@import "./clock.scss";
@import "./flex.scss";
@import "./timer.scss";

@import "./var.scss";


body {
    background-color: color(secondary);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/gen/imga.JPG);
    background-size: cover;
    box-shadow:
        inset 20px 40px 120px #000,
        inset -10px 0px 40px #000;


    .header-content {
        z-index: 2;


        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 50vh;
        }

        .title {
            position: relative;
            width: 300px;
            top: 80vh;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 10px 0;
            font-size: 2.4rem;
            font-weight: 800;
            color: color(primary);
            border-radius: 30px;
            background: color(secondary);

        }
    }
}

.btns {
    position: absolute;
    top: 100vh;
    right: 0;
    width: 100vw;
    // height: 50vh;
    overflow: hidden;
    background: color(primary-dark);
    z-index: 2;

    .container {
        @include flexCenter();

        .burger {
            position: absolute;
            top: 0;
            right: 10px;
        }

        .btn {
            @include flexCenter();
            flex: 1;
            color: #ddd;
        }

        div>p {
            font-size: 4rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
        }

        div:hover {
            cursor: pointer;
        }
    }
}




.show {
    display: block !important;
}

#btn-1-project,
#btn-2-project,
#btn-3-project {
    display: none;
}

.btn-project-item {
    height: 70vh;
    margin: 20px 0;
}


footer {
    p {
        color: #ddd;
        letter-spacing: 1px;
        background: color(primary-dark);
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
    }
}



body::-webkit-scrollbar {
    width: 0px;
}


// @media (orientation: portrait) and (min-width: 600px) {
//     .header-content .title {
//         font-size: 4rem;
//     }

//     .btns .container>div>p {
//         font-size: 1.5rem;
//     }

//     footer p {
//         font-size: 1.5rem;
//     }
// }

// @media (orientation: landscape) and (min-width: 736px) {
//     .header-content .title {
//         font-size: 4rem;
//     }

//     .btns .container>div>p {
//         font-size: 1.7rem;
//     }

//     footer p {
//         font-size: 1.7rem;
//     }
// }

// @media (orientation:landscape) and (min-width:992px) {

//     .header::after {
//         box-shadow: inset 60px 60px 80px #000;
//     }

//     .header-content .title {
//         font-size: 4.5rem;
//     }

//     .btns .container>div>p {
//         font-size: 1.5rem;
//     }

//     footer p {
//         font-size: 2rem;
//     }
// }