@import './var.scss';

.counter {
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    height: $height;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: color(primary-dark);
    // color: blue;
    // color: red;

    p {
        font-size: 3rem;
        padding: 10px;
    }

    .timer {
        display: flex;

        .cont {
            // @include flexCenter();
            padding: 5px;
            font-size: 1.1rem;

            span {
                padding: 5px;
            }

        }
    }

}

.hid {
    display: none;
}


// @media (orientation: portrait) and (min-width: 600px) {
//     p {
//         font-size: 5rem;
//     }

//     .cont {
//         font-size: 2.5rem;
//     }
// }

// @media (orientation: portrait) and (min-width: 1024px) {
//     p {
//         font-size: 6rem;
//     }

//     .cont {
//         font-size: 5rem;
//     }
// }

// @media (orientation: landscape) {
//     p {
//         font-size: 3rem;
//     }

//     .cont {
//         font-size: 1.5rem;
//     }

// }

// @media (orientation:landscape) and (min-width:600px) {
//     p {
//         font-size: 3.5rem;
//     }

//     .cont {
//         font-size: 2.5rem;
//     }
// }

// @media (orientation:landscape) and (min-width: 900px) {
//     p {
//         font-size: 4rem;
//     }

//     .cont {
//         font-size: 3.5rem;
//     }
// }