@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$height:85vh;

$colors:(back:rgba(0, 0, 0, 0.2),
    primary:rgb(126, 45, 14),
    primary-dark:darken(rgb(126, 45, 14), 5%),
    secondary:rgba(200, 170, 130, 0.6),
    secondary-dark:darken(rgb(200, 170, 130), 90%),
);

@function color($colorName) {
    @return map-get($colors, $colorName)
}