.counter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

p {
    font-size: 3rem;
    padding: 10px;
}

.timer {
    display: flex;
}

.cont {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.timer>.cont>span {
    padding: 5px;
}

.hid {
    display: none;
}

@media (orientation: portrait) and (min-width: 600px) {
    p {
        font-size: 5rem;
    }

    .cont {
        font-size: 2.5rem;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    p {
        font-size: 6rem;
    }

    .cont {
        font-size: 5rem;
    }
}


@media (orientation: landscape) {
    p {
        font-size: 3rem;
    }

    .cont {
        font-size: 1.5rem;
    }

}

@media (orientation:landscape) and (min-width:600px) {
    p {
        font-size: 3.5rem;
    }

    .cont {
        font-size: 2.5rem;
    }
}

@media (orientation:landscape) and (min-width: 900px) {
    p {
        font-size: 4rem;
    }

    .cont {
        font-size: 3.5rem;
    }
}